*{
    padding: 0;
    margin: 0;
    --color1: #000000;
    --color2: #ffffff;
    --color3: #ff2200;
    --color4: #9b9696;
}

#cabecera{
    background: var(--color1) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--color4) solid 3px;
    border-bottom: var(--color4) solid 3px;
    color: #420c0c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 0;
}
#fotologo img{
    padding: 2px;
    margin: 5%;
    margin-left: 20px;
}
#botones{
    position: relative;
    width: 475px;
    height: 50px;
    background: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px;
}
#botones a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: var(--color3);
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    transition: all .3s;
}
#botones a:hover{
    color: white;
}
#cuerpo{
    border-bottom: #9b9696 solid 2px;
    background-color: var(--color1);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
#cuerpo p{
    color: var(--color4);
    font-size: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#entrelinea{
    padding: 20px;
    background-color: var(--color1);
    color: var(--color4);
}
#camaro1{
    display: flex;
    flex-direction: row-reverse;
}
#mustang1{
    display: flex;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color1);
    padding: 20px;
    border-top: #420c0c 3px solid;
}
.auto{
    color: white;
    padding: 7px;
    width: 100px;
    text-align: center;
    transition: all .2s;
}
.auto:hover{
    transform: scale(1.1);
    border-top: solid red 2px;
    border-bottom: solid red 2px;
}
#pie{
    border-top: 3px solid #420c0c;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    color: #9b9696 ;
}
#redes{
    display:flex;
    align-items: center;

}
#cuerpo2{
    color: white;
    background-color: black;
}
#marca{
    border-bottom: #9b9696 2px solid;
    width: 500px;
}
#contenido{
    color: white;
    display: flex;
}
#infoferrari{
    width: 400px;
    border-right: 2px solid var(--color4);
    color: #ff5405;
    font-size: 18px;
    margin: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    
}
.imgf{
    margin: 20px;
}
.inf{
    margin-bottom: 40px;
    margin-left: 20px;
    width: 500px;
}
